<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Beyond the lines</title>
		<link href="/static/css/style.less" rel="stylesheet/less" type="text/css">
		<script src="/static/js/less.min.js"></script>
		<script src="/static/js/fetch.min.js"></script>
		<script src="/static/js/controller.js"></script>
	</head>
	<body>
		<div class="github-fork-ribbon"><a href="https://github.com/Rabyss/BeyondTheLines">Fork me on GitHub!</a></div>
		<div class="container">
			<div id="title">
				<h1>Beyond the lines</h1>
				<h2>Article Sentimental Analysis</h2>
			</div>

			<h2>What does it do?</h2>

			<p><i>Beyond the lines</i> lets you perform <strong>linguistic analysis</strong> on <strong>text</strong>, <strong>webpages</strong> and <strong>websites</strong>, and compare the results from different sources. </p>

			<p>In the website mode, the analysis can be performed on pages talking about a <strong>specific topic</strong>.</p>

			<p><strong>For example</strong>, you may want to explore if political parties express negative or positive feelings towards certains themes, or if newspapers are objective, or show some opinion biais.</p>

			<div id="tabs">
				<div id="tabs-header">
					<h3 id="tab-text" class="active">Text</h3>
					<h3 id="tab-webpage">Webpage</h3>
					<h3 id="tab-website">Website</h3>
				</div>

				<!-- Text -->
				<form id="form-text" class="tab">
					<label for="text">Text<br>
						<textarea name="text" id="text"></textarea>
					</label>
					<button type="submit">Analyse</button>
				</form>
				
				<!-- Webpage -->
				<form id="form-webpage" class="tab">
					<label for="url">Web page URL
						<input type="text" name="url" id="url" value="http://">
					</label>
					<label for="topic">Topic
						<input type="text" id="topic" name="topic">
					</label>
					<button type="submit">Analyse</button>
				</form>

				<!-- Website -->
				<form id="form-website" class="tab">
					<label for="url">Website URL
						<input type="text" name="url" id="url" value="http://">
					</label>
					<label for="topic">Topic
						<input type="text" id="topic" name="topic">
					</label>
					<label for="numberResults">Number of pages to search on the website about this topic
						<input id="numberResults" name="numberResults" type="number" min="1" max="20">
					</label>
					<button type="submit">Analyse</button>
				</form>
			</div>

			<h2>Polarity &amp; Subjectivity</h2>

			<div class="clear-float">
			<div id="triangle">
				<p id="legend-positive" class="legend">Positive</p>
				<p id="legend-negative" class="legend">Negative</p>
				<p id="legend-objective" class="legend">Objective</p>
			</div>
			
			<p>Written text can be broadly categorized into two types: <strong>facts</strong> and <strong>opinions</strong>. Opinions carry people's sentiments, appraisals and feelings toward the world. These can be moreover <strong>negative</strong> or <strong>positive</strong>.

				<p>In the plot below, we show the <strong>subjectivity</strong> (from subjective to objective) and the <strong>polarity</strong> (from negative to positive).</p>

			<p>Of course, a totally objective text carries no polarity, as illustred by the triangle shape of the plot.</p>				
			</div>

			<h2>Number of Words per Sentence</h2>

			<p>The number of words per sentence can provide a measure of the <strong>complexity</strong> of a text. For example, the masterpiece <i>In Search of Lost Time</i> by French writer Marcel Proust has an average of 38 words per sentence, while that's of a children can be lower than 10.</p>
			<div id="word-per-sentence" class="boxPlot"></div>

			<!-- <h2>Register of Language</h2> -->

			<!-- <h2>Semantic Fields</h2> -->
			
			<h2>Mood</h2>
			<p>The mood of a text is computed from the use of modality verbs and adverbs. It can be <i>indicative</i>, <i>imperative</i>, <i>conditional</i> or <i>subjunctive</i>.</p>

			<h2>Modality</h2>
			
			<div id="modality" class="boxPlot"></div>
			<p>The modality of a sentence represents its <strong>degree of certainty</strong>. For example, the ssentence "<i>I wish it would stop raining</i>" has a rather low modality, whereas "<i>It will stop raining</i>" has a high one. Accuracy is about 68% for Wikipedia texts.</p>

			<div align="center" id="footer">
			  <p><small>Powered by the <a href="http://www.clips.ua.ac.be/pages/pattern">Pattern library</a>. Some of the explanations above are base on the documentation of the latter.</small></p>
			</div>
				
		</div>
	</body>
</html>
