<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Beyond the lines</title>
		<link href="/static/css/style.less" rel="stylesheet/less" type="text/css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.9.0/fetch.min.js"></script>
		<script src="/static/js/controller.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="title">
				<h1>Beyond the lines</h1>
				<h2>Article Sentimental Analysis</h2>
			</div>

			<h2>Polarity &amp; Subjectivity</h2>
			<div id="triangle">
				<p id="legend-positive" class="legend">Positive</p>
				<p id="legend-negative" class="legend">Negative</p>
				<p id="legend-objective" class="legend">Objective</p>
			</div>

			<h2>Number of words per sentence</h2>
			<div id="word-per-sentence"></div>

			<h2>Level of Language</h2>

			<h2>Semantic fields</h2>
			
			<h2>Mood</h2>

			<h2>Modality</h2>
		</div>
	</body>
</html>
